@import "../../@theme/styles/styles.scss";

:host
  /deep/
  ng2-st-tbody-custom
  a.ng2-smart-action.ng2-smart-action-custom-custom {
  width: 20%;
  &.disable-message{
    pointer-events: none;
  }
  .disable-message {
    display: none;
  }
}


.group-search {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0;

  nb-form-field.search-input {
    margin-right: 10px;
    display: inline-flex;
  }

  button {
    margin-bottom: 5px;
    margin-right: 15px;
  }

  button.btn-search-data {
    border-radius: 20px;
    padding: 10px 25px;
  }

  .filter > button {
    padding: 9px;
    margin-top: 2px;
    i {
      font-size: 20px;
    }
  }
}

.select-location {
  width: 100% !important;
}

.tables-employer {
  margin: 30px 0;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
}

button {
  &.active {
    color: #3366ff !important;
  }
}

.location-search-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .group-location {
    width: 50%;
    align-items: flex-end;
    @include tablet {
      width: 80%;
    }
    @include small-tablet {
      width: 100%;
    }
    .location {
      margin-right: 20px;
      width: 100%;
      .text-location {
        font-weight: 500;
        font-size: 16px;
      }
    }
  }

  button.btn-search-data {
    border-radius: 20px;
    padding: 10px 25px;
    height: max-content;
    margin-right: 10px;
  }
}

h6 {
  font-size: 22px;
  font-weight: 600;
}

.company-row{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0px 4px 1px #a2a0a04f;
  margin: 20px 0;
  padding: 10px;
  cursor: pointer;
  background: #e8e8e84f;

  &:hover .name-company{
    color: #3366ff;
    opacity: 0.8;
  }
  img{
    width: 150px;
    margin-right: 30px;
  }

  .name-company{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 8px;
  }
  .description-company{
    font-size: 14px;
  }
}

.color-select{
  color: #3366ff;
}